include LICENSE
include README.rst
include setup.py

graft slicer_package_manager
graft docs
prune test
global-exclude *.py[co] *.cmake __pycache__ node_modules
include versioneer.py
include slicer_package_manager/_version.py
