[tool.ruff]
select = [
  "A",           # flake8-builtins
  "B",           # flake8-bugbear
  "BLE",         # flake8-blind-except
  "C4",          # flake8-comprehensions
  "COM",         # flake8-commas
  "D",           # pydocstyle (aka flake8-docstrings)
  "E", "F", "W", # flake8
  "EXE",         # flake8-executable
  "EM",          # flake8-errmsg
  "G",           # flake8-logging-format
  "ICN",         # flake8-import-conventions
  "ISC",         # flake8-implicit-str-concat
  "N",           # pep8-naming
  "PIE",         # flake8-pie
  "PGH",         # pygrep-hooks
  "PL",          # pylint
  "Q",           # flake8-quotes
  "RSE",         # flake8-raise
  "RUF",         # Ruff-specific
  "S",           # flake8-bandit
  "SIM",         # flake8-simplify
  "SLF",         # flake8-self
  "YTT",         # flake8-2020
]
extend-exclude = [
  "versioneer.py",
  "*/_vendor/bson/*.py",
  "slicer_package_manager/_version.py",
]
force-exclude = true
extend-ignore = [
  "B904",  # raise-without-from-inside-except
  "D10",  # Missing docstring in *
  "D200",  # One-line docstring should fit on one line with quotes (fits-on-one-line)
  "D203",  # 1 blank line required before class docstring
  "D205",  # 1 blank line required between summary line and description
  "D211",  # No blank lines allowed before class docstring
  "D212",  # Multi-line docstring summary should start at the first line
  "D213",  # Multi-line docstring summary should start at the second line
  "D400",  # First line should end with a period
  "D401",  # First line should be in imperative mood; try rephrasing
  "D415",  # First line should end with a period, question mark, or exclamation point
  "N802",  # Function name should be lowercase.
  "N803",  # Argument name should be lowercase.
  "N806",  # Variable in function should be lowercase.
  "N816",  # mixedCase variable in global scope
  "PLR0912",  # Too many branches
  "PLR0913",  # Too many arguments to function call
  "PLR2004",  # agic value used in comparison, consider replacing 2 with a constant variable
  "PLR5501",  # Consider using `elif` instead of `else` then `if` to remove one indentation level
  "Q000",  # Remove bad quotes (bad-quotes-inline-string)
  "Q003",  # Change outer quotes to avoid escaping inner quotes
  "S101",  # assert
  "S105",  # hardcoded-password-string
  "S310",  # Audit URL open for permitted schemes. Allowing use of `file:` or custom schemes is often unexpected.
]
target-version = "py37"
line-length = 120

[tool.ruff.flake8-builtins]
builtins-ignorelist = ["copyright", "license"]

[tool.ruff.per-file-ignores]
"python_client/slicer_package_manager_client/__init__.py" = ["A002"]  # Argument `all` is shadowing a python builtin