.spm-extensions-container
  .spm-extensions-header
    each extension in extensions
      .spm-extension-container
        li.spm-extension
          | name : #{extension.name}
          | description : #{extension.description}
